.buttonContainer{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(87, 84, 84, 0.638);
  }
  
  .button{
    width: 60px;
    height: 45px;
    margin: 3px;
    background-color:#FFCC00;
    color: rgb(0, 0, 0);
    border:none;
    border-radius: 8%;
    font-size: larger;
  
  }